html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12pt;
}

input, button {
  font-size: 1em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box {
    border: 1px solid lightgray;
    padding: 1em;
    margin: 1em;
}

.flex {
  flex: 1;
}


.ListToDoLists .summary {
  border: 1px solid lightgray;
  padding: 1em;
  margin: 1em;
  cursor: pointer;
  display: flex;
}

.ListToDoLists .count {
  padding-left: 1ex;
  color: blueviolet;
  font-size: 92%;
}

.ToDoList .back {
  margin: 0 1em;
  padding: 1em;
  float: left;
}

.ToDoList .item {
  border: 1px solid lightgray;
  padding: 1em;
  margin: 1em;
  cursor: pointer;
  display: flex;
}

.ToDoList .label {
  margin-left: 1ex;
}

.ToDoList .checked .label {
  text-decoration: line-through;
  color: lightgray;
}